<div class="container-carousel">
    <div class="wrapper">
      <ul id="sb-slider" class="sb-slider">
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/16.png" alt="image16"/></a>
        </li> -->
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/3.jpg" alt="image3"/></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/1.jpg" alt="image1"/></a>
        </li>
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/4.jpg" alt="image4"/></a>
        </li> -->
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/5.jpg" alt="image5"/></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/6.jpg" alt="image6"/></a>
        </li>
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/7.jpg" alt="image7"/></a>
        </li> -->
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/8.jpg" alt="image8"/></a>
        </li> -->
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/9.jpg" alt="image9"/></a>
        </li>
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/10.jpg" alt="image10"/></a>
        </li> -->
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/11.jpg" alt="image11"/></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/12.jpg" alt="image12"/></a>
        </li>
        <!-- <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/13.jpg" alt="image13"/></a>
        </li> -->
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/2.jpg" alt="image2"/></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/15.jpg" alt="image15"/></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="/assets/img/flowers/14.jpg" alt="image14"/></a>
        </li>
      </ul>
  
      <div id="shadow" class="shadow"></div>
      
      <div id="nav-arrows" class="nav-arrows">
        <a href="#">Next</a>
        <a href="#">Previous</a>
      </div>
      
    </div>
  </div>